<!DOCTYPE html>
<html>

<head>
    <title>This is the city data page!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="http://localhost:5000/">Home</a>
        <a href="http://localhost:5000/user">My Profile</a>
        <a href="http://localhost:5000/data">Data</a>
        <a href="http://localhost:5000/quiz">Quiz</a>
    </div>
    
    <!-- Use any element to open the sidenav -->
    <span class="hamburger" style="cursor: pointer; position: fixed;" onclick="openNav()">
        <div></div>
        <div></div>
        <div></div>
    </span>

    <div id="main">
        <p>This will be the data page</p>
    </div>

    <script src="{{ url_for('static', filename='Javascript/sideNav.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</body>

</html>