{% extends "base.html" %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/CSS/modal.css">
</head>

<h2>Modal Login Form</h2>
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">

    <form class="modal-content animate" id="loginForm" name="loginForm" action="http://localhost:5000/login"
        enctype="application/json" method="POST">

        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" value="{{ request.form.username }}"
                required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" value="{{ request.form.password }}"
                required>

            <button type="submit">Login</button>
            <!-- <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label> -->
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

<script src="/static/Javascript/modal.js"></script>
{% endblock %}