{% extends "base.html" %}
{% block content %}
<p>Please rate the following factors in terms of importance to you (10 being the most important, -10 being the least</p>

<form class="quiz">

    <label>Walkability</label> <input type="number" id="walkability" min="-10" max="10" placeholder="0">
    <br>
    <label>Public Transit</label> <input type="number" id="public_trans" min="-10" max="10" placeholder="0">
    <br>
    <label>Ease of biking</label> <input type="number" id="biking" min="-10" max="10" placeholder="0">
    <br>
    <label>High Population Density</label> <input type="number" id="pop_density" min="-10" max="10" placeholder="0">
    <br>
    <label>City Size (10=large)</label> <input type="number" id="city_size" min="-10" max="10" placeholder="0">
    <br>
    <label>Low Property Crime</label> <input type="number" id="prop_crime" min="-10" max="10" placeholder="0">
    <br>
    <label>Low Violent Crime</label> <input type="number" id="violent_crime" min="-10" max="10" placeholder="0">
    <br>
    <label>Low Air Pollution</label> <input type="number" id="air_pol" min="-10" max="10" placeholder="0">
    <br>
    <label>Low Car Traffic</label> <input type="number" id="car_traffic" min="-10" max="10" placeholder="0">
    <br>
    <label>Most Sunshine</label> <input type="number" id="sunshine" min="-10" max="10" placeholder="0">
    <br>
    <button id="submit_quiz">View Results</button>

</form>

<script src="/static/Javascript/quiz_results_handler.js"></script>

{% endblock %}